@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fredoka+One&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Yesteryear&display=swap');




.card-title{
    text-align: center;
}


.card-text-about{
    font-family: 'Poppins', sans-serif;
    line-height: 1.8rem;
    
  
}

.aboutname{
    text-transform: uppercase;
    background-color:#0B8CD5;
    border-radius: 50px;
    padding: 0.5rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color:white;
  
}
.skills-about{
    background-color:#0B8CD5;
    border-radius: 50px;
    padding: 0.5rem; 
    font-family: 'Bebas Neue', cursive;
    color:white;
    font-size: 2em;

}
.about-list{
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;


}