@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fredoka+One&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Monoton&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Raleway:wght@500&family=Roboto:wght@900&family=Rubik+Glitch&family=Yesteryear&display=swap');



.card-title{
    text-align: center;
}


.card-text-about{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8rem;
    font-weight: normal;

    
  
}

.aboutname{
    text-transform: uppercase;
    background-color:#0B8CD5;
    border-radius: 50px;
    padding: 0.5rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color:white;
    letter-spacing: 0.1rem;
  
}
.skills-about{
    background-color:#0B8CD5;
    border-radius: 50px;
    padding: 0.5rem; 
    font-family: 'Bebas Neue', cursive;
    color:white;
    font-size: 2em;
    letter-spacing: 0.2rem;

}
.about-list{
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;


}

.list{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    list-style: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgb(124, 123, 122);
    color: rgb(0, 5, 5);
    font-size: larger;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1rem;
    box-shadow: 2px 3px 1px 0.1px rgb(102, 103, 103);

   
}
.list:hover{
    color: rgb(254, 255, 254);
    background-color: rgb(251, 74, 4);
    transition: 1s;
    border: 2px solid white;
    font-variation-settings: "wght" 100, "ital" 0;
    box-shadow: none;
    border-radius: 5px;
}

#bo{
    background-color: blueviolet;
}
#ht{
    background-color: #0B8CD5;
}
#cs{
    background-color: rgb(255, 94, 0);
   
}
#ja{
    background-color: yellow;
}
#gi{
    background-color: #969798;
}
#my{
    background-color: teal;
 
}
#re{
    background-color: lightskyblue;
}

#ph{
    background-color: #807091;
}
