@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fredoka+One&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Yesteryear&display=swap');



.download-image{
    width: 80px;
    height: 80px;
    margin-top: 2rem;
}
#Textarea{
    min-height: 25vh;
}
.list-group-item  {
    background-color: rgb(243, 248, 252)!important;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;

}
.form-label{
    font-family: 'Poppins', sans-serif;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #0b0b0b;
    outline: none;
    box-shadow:none;
}