
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat:wght@100&family=Poppins&family=Roboto+Slab&display=swap');@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fredoka+One&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Yesteryear&display=swap');


.hero-section{
    margin-top: 5rem!important;
}

.hero-text{
    margin-top: 5rem;
    font-weight: bold;
    font-size: xx-large;
   
    
}

.hello{
    font-size: 2rem!important;  
  ;   

}


.myname{
    font-size: 3rem;
    color:#FD5E04;
    text-transform: uppercase;
    font-weight: bolder;
   
  
  
}


@media (max-width: 767px){

.hero-section{
    margin-top: -2rem!important;
}
.myname{
    font-size: 2.5rem;
}
.carousel-item{
    margin-top: 3rem;
   
}

}


