
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat:wght@100&family=Poppins&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fredoka+One&family=Monoton&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Rubik+Glitch&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fredoka+One&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Yesteryear&display=swap');

.hero-section{
    margin-top: 5rem!important;
}

.hero-text{
    margin-top: 5rem;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
    text-transform: lowercase!important;
    letter-spacing: 5px;
}

.hello{
    font-size: 2rem!important;  
    background-color:#0B8CD5; 
    color: white;
}

.myname{
    font-size: 3rem;
    color:#FD5E04;
    font-family: 'Rubik Glitch', cursive;
    font-weight:100!important;
    text-transform: uppercase;
    background-color: white;
    text-shadow: 0px 3px 2px rgba(100, 100, 100, 3); 
}

.Typewriter__wrapper{
    background-color: #0B8CD5!important;
    padding: 1rem;
   
}
.type{
    margin-top: 1rem;
}





/* ===========Media Query============ */

@media (max-width: 575px){

.hero-section{
    margin-top: -2rem!important;
}
.myname{
    font-size: 2.5rem;
}
.carousel-item{
    margin-top: 3rem;
   
}

}





